@font-face {
    font-family: "Lato";
    src: url('698242188-Lato-Bla.eot');
    src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
    url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
    url('698242188-Lato-Bla.woff') format('woff'),
    url('698242188-Lato-Bla.ttf') format('truetype');

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
}
header {
    background: #233f21;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: mianimacion;
    animation-duration: 5s;
    height: 200px;

}
  @keyframes mianimacion {
    0% {
      background: #2b2a2a; }
    50% {
      background: gray; }
    70% {
      background: white; }
    100% {
      background: rgb(31, 67, 43); } }
header h1{
    color: transparent;
    text-transform: uppercase;
    font-size:6rem;
    font-weight: bold;
    background-image: url(image/fondo.jpg);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    font-weight:900;
    
}

nav {
    display: flex;
    justify-content: center;
   align-items: center;
   width: 100%;
   position: -webkit-sticky; 
   position: sticky; 
   top: 0px; 
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px 4px rgba(104, 104, 104, 0.3);
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block; 
}
nav a {
    color: darkslategray;
   padding: 25px 10px;
    text-decoration: none;
    font-style: normal;
    font-size: 1.1rem; }
nav a:hover{
    color: rgb(77, 216, 149); 
}
           
.submenu{
    display: none;
    position: absolute;
}
 .submenu__categorias{
    position: absolute;
    display: none;
    color:#054733 ;
    width: 100%;
    text-shadow: 1px 1px 2px  rgba(104, 104, 104, 0.3);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 50px;
    margin-left: -44%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.menu li:hover ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
     width: 100%;
   

}
#boton-carrito{
    border: none;
    color: darkslategray;
    font-size: 26px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
    display: flex;
    align-items: center;
    margin-left: 76%;
    margin-top: -85px; 
}
#boton-carrito:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(98, 133, 121);
}
#boton-carrito:focus{
    outline: none;
}
#contenedor-productos{
    max-width: 1200px;
    margin: -230px auto 20px auto;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}
p{
    line-height: 1.8;
}
#contenedor-productos img{
    height: 200px;
}
.producto{
    width:250px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 5px rgba(34, 33, 33, 0.3);
    border-radius: 8px;
}
.producto:hover{
    width: 259px;
    margin-top: 2px;
    margin-bottom: -1px;
    transition:all .3s;
}
.precioProducto{
    font-weight: 700;
}
.boton-agregar{
    background-color: rgb(52, 87, 76);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 10px;
    border-color: transparent;
    border-radius: 10px ;   
    box-shadow: 1px 1px 1px 2px rgba(112, 144, 134, 0.3);
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.modal-active {
    opacity: 1;
    visibility: visible;
}
.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 650px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}
.modal-active .modal-carrito {
    margin-top: 0;
}
.modal-carrito h3 {
    color: rgb(71, 120, 98);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(56, 115, 53);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;    
}
.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(44, 110, 77);
}
.boton-eliminar {
    background-color: white;
    color: rgb(59, 107, 80);
    border: none;
    font-size: 20px;
}
.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
#contenedor-cactus{
    max-width: 1200px;
    margin:10px 30px 150px auto;;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}
#contenedor-cactus img{
    width: 210px;
    height: 55%;
}
#contenedor-suculenta{
    max-width: 1200px;
    margin: -100px 30px 150px auto;
    display: flex;
    justify-content: baseline;
    flex-wrap:wrap;
}
#contenedor-suculenta img{
    width: 210px;
    height: 55%;
}
#contenedor-interior{
    max-width: 1200px;
    margin: -140px 30px 150px auto;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}
#contenedor-interior img{
    width: 210px;
    height: 55%;
}
#contenedor-exterior{
    max-width: 1200px;
    margin: -200px 30px 320px auto;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}
#contenedor-exterior img{
    width: 210px;
    height: 55%;
}
#finalizar{
    font-weight: 700;
    padding: 10px;
    border-color: transparent;
    border-radius: 10px ; 
    background-color: rgba(47, 129, 245, 0.919);
   margin-left: 50px;
}
#finalizar a{
    text-decoration: none;
    color: white;
}
#form-final{
    margin-bottom: 60px;
    background-image:linear-gradient(rgb(89, 122, 103),rgb(35, 63, 33) );
    height: 350px;
}
#form-final{
    padding-top: 20px;
    padding-left: 10%;
}
  #form-final input{
    margin-top: 0.3%;
}
    
           /*Responsive*/

@media screen and (max-width:991px){
    header h1{
    font-size: 4.4rem;

    }
 
    nav ul{
        margin-left:0px;
    }
    nav a{
        font-size: 15px;
        padding: 25px 10px;
    }
    #boton-carrito{
        background-color: transparent;
        font-size: 18px;
        margin-top: -90px;
         margin-left:80%;
        }
    #contenedor-productos{
        justify-content: space-around;
        margin: -280px auto 20px auto;   
    }    
    .submenu__categorias{
        margin-left: -40%;
    }
} 

@media screen and (max-width:740px){
    header{
        height: 150px;
    }
    header h1{
        font-size: 3.5rem; 
    }
    nav{
        justify-content: flex-start;
    }
    .submenu__categorias{
        margin-left: -20%;
    }
}

@media screen and (max-width:530px){
    header h1{
        font-size: 3rem; 
    }
   
  
    nav a{
    font-size: 0.9rem;
    margin-left: -20px;
    padding-right: 20px;
    }

    #boton-carrito{
        background-color: transparent;
        font-size: 17px;
        margin-top: -96px;
        margin-left: 85%;
    }
    .modal-carrito {
         min-width: 200px;
         padding: 7px;
         margin-top: -200%;
         margin-left: -12px;
    }
    .modal-carrito button{
        width: a;
        height: auto;
        font-size: 13px;
    }
    .boton-eliminar {
        font-size: 15px;
    }
        .productoEnCarrito {
        margin: 5px 0;
        padding: 3px 6px;
    }
        #form-final{
         padding: 6%;
    }

    #footer{
        font-size: 13px;
        
         width: auto;  
    }

.submenu__categorias{
    margin-left: -30%;
    font-size: 1rem;
}
}

@media screen and (max-width:422px){
    header h1{
        font-size: 2.5rem;
    }

    nav a{
        font-size: 0.8rem;
     margin-left: -36px;
     padding-right: 32px;
     }

    #boton-carrito{
    margin-left: 80%;
    }
    #contenedor-productos{
        justify-content: space-around;
        margin: -287px auto 20px auto;  
     }    
    #footer{
        font-size: 13px;
        
        width: auto;    
    }


#footer #porfolio :hover{
    font-size: 1.1rem;
    transition:all .4s;
}
.submenu__categorias{
    margin-left: -29%;
    font-size: 1rem;
}
}
@media screen and (max-width:370px){
    .submenu__categorias{
        margin-left: -29%;
        font-size: 1rem;
    }
    header h1{
        font-size: 2.4rem;
    }
    nav a{
        font-size: 0.7rem;
     margin-left: -36px;
     padding-right: 32px;
     font-weight: bold;
     }
     #boton-carrito{
    font-size: 1rem;
        }
}